.detection-table {
    width: 40%; /* Adjust this value for the table size */
    /* margin: 0 auto; Center the table on the page */
    margin-left: 20px;
    font-size: 20px; /* Increase the font size for better readability */
    border-collapse: collapse;
}

.detection-table th, .detection-table td {
    padding: 8px; /* Add padding for inside cells */
    border: 1px solid #ddd; /* Add borders around cells */
    text-align: left;
}

.detection-table th {
    background-color: black;
}

h2 {
    margin-left: 7vw;
    text-align: left;
    font-size: 30px;
}

h1 {
    margin-top: 20px;
}

/* Positioning the chart container absolutely */
.chart-container {
    position: absolute;
    right: 100px;
    top: 400px;
    width: 600px; 
    height: 600px;
  }

  .timer-display {
    position: absolute;
    top: 0;
    left: 0; 
    margin-top: 150px;
    margin-left: 20px;
    font-size: 20px;
    background-color: #F08080; 
    padding: 10px;
    border-radius: 5px;
}

.webcam {
    width: 20%;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 150px;
    margin-right: 100px;
    border-radius: 5px;
}

.stop-fixed-bottom a {
    position: fixed; /* Fixed position relative to the viewport */
    right: 20px; /* Distance from the right */
    bottom: 10px; /* Distance from the bottom */
    z-index: 1000; /* Ensure it's above other elements */
    text-decoration: none; /* Removes underline from links */
}
  
  
.stop-button {
    padding: 10px 20px;
    background-color: #FF4136; 
    color: black;
    border: none;
    border-radius: 50%; 
    cursor: pointer;
    font-size: 16px;
    width: 60px; 
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;
}

.stop-button:hover {
    background-color: #E82C0C; 
}

.stop-button:active {
    background-color: #C22D11;
    box-shadow: 0 2px #666;
    transform: translateY(2px);
}

.stop-button::before {
    content: '\23F9'; /* Unicode for black square (stop icon) */
    font-size: 40px;
}

