.webcam {
    height: 200px;
    border-radius: 5px;
}

.event-list-container {
    height: 750px;
    overflow-y: auto; /* Enable vertical scrolling */
    border-radius: 8px;
    padding: 16px;
    width: 500px;
    background-color: #353f53;
  }
  
  .event-list {
    display: flex;
    flex-direction: column;
    gap: 8px; /* Add spacing between event cards */
  }
  
  .event-card {
    /* border: 1px solid #ddd; */
    border-radius: 8px;
    padding: 12px;
    margin-bottom: 12px;
    background-color: white;
    width: 100%;
  }
  
  .event-footer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  
  .timestamp {
    font-weight: bold;
    font-size: 0.8em;
    color: #1b202b;
    margin-right: 10px;
    width: 100px;
  }
  
  .event-type {
    color: #1b202b; /* Brand blue color for event type */
    font-weight: bold;
  }
  
  .thumbnail {
    width: auto;
    max-height: 150px;
    object-fit: cover;
    border-radius: 4px;
    margin-bottom: 6px;
  }
  
  .description {
    font-size: 0.8em;
    color: #1b202b; /* Brand blue color for event type */
    text-align: left;
    width: 400px;
  }
  