.productivity-score {
    text-align: center;
    font-size: 25px;
}

.session-content {
    text-align: center;
    font-size: 25px;
    padding: 20px;
}

.detection-table-summary {
    width: 40%; /* Adjust this value for the table size */
    /* margin: 0 auto; Center the table on the page */
    margin-left: 20px;
    font-size: 20px; /* Increase the font size for better readability */
    border-collapse: collapse;
}

.detection-table-summary th, .detection-table-summary td {
    padding: 8px; /* Add padding for inside cells */
    border: 1px solid #ddd; /* Add borders around cells */
    text-align: left;
}

.detection-table-summary th {
    background-color: black;
}

h2 {
    margin-left: 7vw;
    text-align: left;
    font-size: 30px;
}

h1 {
    margin-top: 0px;
}